<div class="sessions-form">
  <h1>Sign Up!</h1>

  <div id="signup-form">
    <%= form_for @user, url: "/users" do |f| %>
      <p>
        <%= f.label :email %>
        <%= f.text_field :email %>
      </p>

      <p>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </p>
      <%= f.submit "Sign Up" %>
    <% end %>
  </div>
</div>
