<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600italic,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:700' rel='stylesheet' type='text/css'>
  <title>savingsTrackr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="top-banner">
  <div id="session-info">
        <% if current_user %>
          Signed in under <%= current_user.email %> | <%= link_to "Log Out", '/logout' %>
        <% else %>
          <%= link_to "Log In", '/login' %> | <%= link_to "Sign Up", new_user_path %>
        <% end %>
  </div>


  <div id="site-title">
    <h1>savingsTrackr</h1>
    <p id="motto">put a price on your self control.</p>
  </div>
</div>

    <%= yield %>

</body>
</html>
